<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 
	namespace: 命名空间，用来区分同名的sql。
	id: 在同一个文件里面唯一。
	parameterType：参数类型。
	resultType：返回的结果类型。
	#{ename}：ename是Emp的属性（mybatis会
	利用反射机制读取emp对象的属性值）。
 -->
<mapper namespace="com.tedu.cloudnote.dao.EmpDao">
	<insert id="save" 
	parameterType="com.tedu.cloudnote.entity.Emp" 
	useGeneratedKeys="true" 
	keyProperty="no">
		INSERT INTO t_emp (name)
		VALUES (#{name})
	</insert>
	
	<!-- oracle的做法
	<insert id="oracleSave" 
	parameterType="com.tedu.cloudnote.entity.Emp" >
		执行select查询出序列值，然后放入到Emp参数对象的no属性中，最后再执行
		insert
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT emp_seq.nextval FROM dual
		</selectKey>
		INSERT INTO t_emp (no,name) VALUES (#{no},#{name})
	</insert>
	 -->
</mapper>









