<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 
	namespace: 命名空间，用来区分同名的sql。
	id: 在同一个文件里面唯一。
	parameterType：参数类型。
	resultType：返回的结果类型。
	#{ename}：ename是Emp的属性（mybatis会
	利用反射机制读取emp对象的属性值）。
 -->
<mapper namespace="com.tedu.cloudnote.dao.NoteDao">
	<!-- in条件 -->
	<delete id="batchDelete">
		DELETE FROM cn_note
		WHERE cn_note_id
		IN
		<foreach collection="array" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</delete>
	<!-- 动态更新 -->
	<update id="dynamicUpdate" parameterType="com.tedu.cloudnote.entity.Note">
		UPDATE cn_note
		<set>
			<if test="cn_note_type_id!=null">
				cn_note_type_id=#{cn_note_type_id},
			</if>
			<if test="cn_note_status_id!=null">
				cn_note_status_id=#{cn_note_status_id},
			</if>
			<if test="cn_notebook_id!=null">
				cn_notebook_id=#{cn_notebook_id},
			</if>
			<if test="cn_note_title!=null">
				cn_note_title=#{cn_note_title},
			</if>
			<if test="cn_note_body!=null">
				cn_note_body=#{cn_note_body},
			</if>
			<if test="cn_note_last_modify_time!=null">
				cn_note_last_modify_time=#{cn_note_last_modify_time}
			</if>	
		</set>
		WHERE cn_note_id=#{cn_note_id}
	</update>
	<!-- 组合查询 -->
	<select id="findNotes" parameterType="map" resultType="com.tedu.cloudnote.entity.Note">
		SELECT * FROM cn_note 
		<where>
			<if test="title!=null">
				cn_note_title LIKE #{title}
			</if>
			<if test="status!=null">
				AND cn_note_status_id=#{status}
			</if>
			<if test="begin!=null">
				AND cn_note_create_time&gt;=#{begin}
			</if>
			<if test="end!=null">
				AND cn_note_create_time&lt;#{end}
			</if>
		</where>
	</select>
	<!-- 根据笔记本id，查看分享状态 -->
	<select id="findTypeById" parameterType="string" resultType="string">
		SELECT cn_note_type_id FROM cn_note WHERE cn_note_id=#{noteId}
	</select>
	<select id="findByBookId" parameterType="string" resultType="map">
		SELECT cn_note_id,cn_note_title,cn_note_type_id FROM cn_note WHERE cn_notebook_id=#{bookId} AND cn_note_status_id='1'
	</select>
	<select id="findById" parameterType="string" resultType="com.tedu.cloudnote.entity.Note">
		SELECT * FROM cn_note WHERE cn_note_id=#{noteId}
	</select>
	<update id="updateNote" parameterType="com.tedu.cloudnote.entity.Note">
		UPDATE cn_note
		SET cn_note_title=#{cn_note_title},
			cn_note_body=#{cn_note_body},
			cn_note_last_modify_time=#{cn_note_last_modify_time}
		WHERE cn_note_id=#{cn_note_id}
	</update>
	<insert id="save" parameterType="com.tedu.cloudnote.entity.Note">
		INSERT INTO cn_note(
			cn_note_id,
			cn_notebook_id,
			cn_user_id,
			cn_note_status_id,
			cn_note_type_id,
			cn_note_title,
			cn_note_body,
			cn_note_create_time,
			cn_note_last_modify_time
		) 
		VALUES(
			#{cn_note_id},
			#{cn_notebook_id},
			#{cn_user_id},
			'1',
			'1',
			#{cn_note_title},
			'',
			#{cn_note_create_time},
			#{cn_note_last_modify_time}
		)
	</insert>
	<!-- 更新笔记状态值(删除笔记) -->
	<update id="updateStatus" parameterType="string">
		UPDATE cn_note
		SET cn_note_status_id='2'
		WHERE cn_note_id=#{cn_note_id}
	</update>
	<!-- 更新笔记表中笔记本id,实现笔记转移功能 -->
	<update id="updateBookId" parameterType="map">
		UPDATE cn_note
		SET cn_notebook_id=#{cn_notebook_id}
		WHERE cn_note_id=#{cn_note_id}
	</update>
	<!-- 更新笔记typeid为2，分享笔记功能 -->
	<update id="updateShareNote" parameterType="string">
		UPDATE cn_note
		SET cn_note_type_id='2'
		WHERE cn_note_id=#{cn_note_id}
	</update>
</mapper>









